@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url(normalize.css);

:root {
  --white: #ffffff;
  --gold: #b88e2f;
  --header-container-color: #fff3e3;
  --main-container-color: #fcf8f3;
  --product-background-color: #f4f5f7;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
}

nav {
  width: 100%;
  height: 100px;
  overflow: hidden;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    margin: 0 auto;

    a {
      text-decoration: none;
      display: flex;
      align-items: center;
    }

    .nav-logo {
      display: flex;
      align-items: center;
      gap: 10px;
      flex-shrink: 0;
      flex: 1;

      span {
        display: flex;
        flex-shrink: 0;
      }

      a {
        text-decoration: none;
      }

      .nav-logo-name {
        color: black;
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 30px;

        @media screen and (max-width: 783px) {
          font-weight: 400;
        }
      }
    }
    .nav-svg {
      display: flex;
      gap: 45px;
      align-items: center;
      flex: 1;
      justify-content: flex-end;

      .mobile-btn {
        display: none;
      }
      svg {
        cursor: pointer;
      }

      @media screen and (max-width: 1350px) {
        gap: 25px;
      }
      @media screen and (max-width: 783px) {
        > svg {
          display: none;
        }
        .mobile-btn {
          display: flex;
          background: none;
          border: none;
          outline: none;
        }
      }
    }

    ul {
      display: flex;
      gap: 75px;
      padding: 0;
      margin: 0;

      @media screen and (max-width: 1024px) {
        gap: 20px;
      }
      @media screen and (max-width: 1350px) {
        gap: 40px;
      }

      @media screen and (max-width: 783px) {
        display: none;
      }
      li {
        list-style: none;
        a {
          text-decoration: none;
          color: black;
        }
      }
    }
  }
}

header {
  min-height: 316px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .header-section-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
      filter: blur(6px);
      opacity: 0.6;
    }

    .shop {
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 1;
      text-align: center;

      .product {
        font-family: "Poppins", sans-serif;
        font-size: clamp(36px, 5vw, 48px);
        font-weight: 500;
        margin: 0;
        color: black;
        display: flex;
        width: 100%;
      }

      p:last-child {
        font-family: "Poppins", sans-serif;
        font-size: 16px;
        font-weight: 500;
        margin-top: 5px;
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }
  }
}

main {
  .header {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 98px;
    overflow: hidden;

    h1 {
      font-family: "Poppins", sans-serif;
      font-size: 36px;
      font-weight: 600;
      margin: 0;
    }

    p {
      font-family: "Poppins", sans-serif;
      font-size: 16px;
      font-weight: 400;
      color: #9f9f9f;
      margin: 8px;
    }
  }

  .body {
    display: flex;
    justify-content: center;
    gap: 160px;

    @media screen and(min-width:1650px) {
      gap: 320px;
    }

    @media screen and (max-width: 994px) {
      flex-direction: column;
      align-items: center;
      gap: 40px;
    }

    .left-section {
      padding-top: 82px;
      display: flex;
      flex-direction: column;
      gap: 42px;

      @media screen and (max-width: 994px) {
        flex-direction: row;
        flex-wrap: wrap;
      }

      @media screen and (max-width: 736px) {
        align-items: center;
        justify-content: center;
      }

      h1 {
        font-family: "Poppins", sans-serif;
        font-size: 24px;
        font-weight: 500;
        display: flex;
        align-items: center;
        gap: 20px;
      }

      p {
        max-width: 212px;
        font-family: "Poppins", sans-serif;
        font-size: 16px;
        font-weight: 400;
      }
    }
    .right-section {
      padding-top: 133px;
      width: 100%;
      max-width: 528px;

      @media screen and (max-width: 994px) {
        padding-top: 0;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 36px;
        width: 100%;
        max-width: 528px;
        .name,
        .email,
        .subject,
        .message {
          display: flex;
          flex-direction: column;
          gap: 22px;
          width: 100%;
        }
        label {
          font-family: "Poppins", sans-serif;
          font-size: 16px;
          font-weight: 500;
        }

        input {
          width: 100%;
          max-width: 528px;
          height: 75px;
          border-radius: 10px;
          border: 1px solid #9f9f9f;
          padding: 0 31px;
          font-family: "Poppins", sans-serif;
          font-size: 16px;
          font-weight: 400;
          box-sizing: border-box;
        }

        .message {
          input {
            height: 120px;
          }
        }

        button {
          font-family: "Poppins", sans-serif;
          font-size: 16px;
          font-weight: 400;
          margin-top: 49px;
          width: 237px;
          height: 55px;
          color: var(--white);
          background-color: var(--gold);
          border: none;
          border-radius: 5px;
          cursor: pointer;
        }
      }
    }
  }
}

footer {
  overflow: hidden;
  .shop-footer-section-1 {
    background-color: #faf3ea;
    margin-top: 83px;
    min-height: 270px;
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    .footer-items {
      display: flex;
      gap: 65px;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      .item {
        display: flex;
        align-items: center;
        gap: 13px;

        h3 {
          font-family: "Popins", sans-serif;
          font-weight: 600;
          font-size: 25px;
          margin: 0;
        }

        p {
          margin: 0;
          padding-top: 7px;
          font-family: "Popins", sans-serif;
          font-weight: 500;
          font-size: 20px;
          color: #898989;
        }
      }
    }
  }

  .shop-footer-section-2 {
    display: flex;
    flex-wrap: wrap;
    padding: 48px 8vw 30px 8vw;
    justify-content: space-between;
    gap: 40px;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      padding: 40px 20px;
      gap: 40px;
    }

    .left-section {
      max-width: 300px;

      h2 {
        font-family: "Popins", sans-serif;
        font-weight: 800;
        font-size: 24px;
        margin-bottom: 30px;
        cursor: pointer;
      }

      p {
        font-family: "Popins", sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: #9f9f9f;
        line-height: 1.5;
      }
    }

    .right-section {
      display: flex;
      flex-wrap: wrap;
      gap: clamp(40px, 5vw, 100px);

      @media screen and (max-width: 768px) {
        flex-direction: column;
      }

      .links,
      .Help {
        display: flex;
        flex-direction: column;

        p {
          color: #9f9f9f;
          font-family: "Popins", sans-serif;
          font-weight: 500;
          font-size: 16px;
          margin-bottom: 30px;
          margin-top: 0;
        }

        ul {
          display: flex;
          flex-direction: column;
          padding: 0;
          margin: 0;
          gap: 30px;
          list-style: none;

          li {
            a {
              text-decoration: none;
              color: black;
              font-family: "Popins", sans-serif;
              font-weight: 500;
              font-size: 16px;
            }
          }
        }
      }

      .Newsletter {
        font-family: "Popins", sans-serif;
        font-weight: 500;
        font-size: 16px;

        p {
          color: #9f9f9f;
          margin-bottom: 30px;
          margin-top: 0;
        }
        .newsletter-form {
          display: flex;
          align-items: center;
        }
        .text {
          position: absolute;
          width: 1px;
          height: 1px;
          padding: 0;
          margin: -1px;
          overflow: hidden;
          clip: rect(0, 0, 0, 0);
          border: 0;
        }
        input {
          border: none;
          border-bottom: 1px solid black;
          outline: none;
          padding-bottom: 5px;
          margin-right: 15px;
          font-family: "Popins", sans-serif;
          font-size: 14px;
        }
        button {
          background: none;
          border: none;
          padding: 0;
          color: black;
          text-decoration: underline;
          cursor: pointer;
          font-weight: 600;
          font-family: "Popins", sans-serif;
          font-size: 16px;
        }

        @media screen and (max-width: 480px) {
          .newsletter-form {
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
          }
          input {
            width: 100%;
            margin-right: 0;
          }
        }
      }
    }

    .rights {
      width: 100%;
      margin-top: 30px;

      hr {
        border: none;
        border-top: 1px solid #d9d9d9;
      }

      p {
        margin-top: 35px;
        font-family: "Popins", sans-serif;
        font-weight: 400;
        font-size: 16px;

        @media screen and (max-width: 768px) {
          text-align: center;
        }
      }
    }
  }
}
