@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url(normalize.css);

:root {
  --white: #ffffff;
  --gold: #b88e2f;
  --header-container-color: #fff3e3;
  --main-container-color: #fcf8f3;
  --product-background-color: #f4f5f7;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
}

nav {
  width: 100%;
  height: 100px;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    margin: 0 auto;

    a {
      display: flex;
      align-items: center;
      text-decoration: none;
    }

    .nav-logo {
      display: flex;
      align-items: center;
      gap: 10px;
      flex-shrink: 0;
      flex: 1;

      span {
        display: flex;
        flex-shrink: 0;
      }

      a {
        text-decoration: none;
      }

      .nav-logo-name {
        color: black;
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 30px;

        @media screen and (max-width: 783px) {
          font-weight: 400;
        }
      }
    }
    .nav-btns {
      display: flex;
      gap: 45px;
      align-items: center;
      flex: 1;
      justify-content: flex-end;
      box-sizing: border-box;

      .icon-btn {
        background: none;
        border: none;
        outline: none;
      }

      .mobile-btn {
        display: none;
      }
      svg {
        cursor: pointer;
      }

      @media screen and (max-width: 1350px) {
        gap: 25px;
      }
      @media screen and (max-width: 783px) {
        button {
          display: none;
        }
        .mobile-btn {
          display: flex;
          background: none;
          border: none;
          outline: none;
        }
      }
    }

    ul {
      display: flex;
      gap: 75px;
      padding: 0;
      margin: 0;

      @media screen and (max-width: 1024px) {
        gap: 20px;
      }
      @media screen and (max-width: 1350px) {
        gap: 40px;
      }

      @media screen and (max-width: 783px) {
        display: none;
      }
      li {
        list-style: none;
        a {
          text-decoration: none;
          color: black;
        }
      }
    }
  }
}

header {
  min-height: 316px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .p-comparison__header-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
      filter: blur(6px);
      opacity: 0.6;
    }

    .shop {
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 1;
      text-align: center;

      .product {
        font-family: "Poppins", sans-serif;
        font-size: clamp(36px, 5vw, 48px);
        font-weight: 500;
        margin: 0;
        color: black;
        display: flex;
        width: 100%;
      }

      p:last-child {
        font-family: "Poppins", sans-serif;
        font-size: 16px;
        font-weight: 500;
        margin-top: 5px;
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }
  }
}

main {
  .p-comparison__main-1 {
    display: flex;
    justify-content: space-between;
    padding: 35px 100px;
    flex-wrap: wrap;
    overflow: hidden;

    @media screen and (min-width: 1800px) {
      justify-content: center;
      gap: 200px;
    }

    @media screen and (max-width: 1057px) {
      justify-content: center;
      align-items: center;
    }

    .text {
      @media screen and (max-width: 1057px) {
        text-align: center;
      }
      .title {
        width: 100%;
        max-width: 233px;
        font-family: "Poppins", sans-serif;
        font-size: 28px;
        font-weight: 500;
      }

      .view {
        text-decoration: underline;
        color: #727272;
        font-family: "Poppins", sans-serif;
        font-size: 20px;
        font-weight: 500;
        cursor: pointer;
      }
    }

    .sofas {
      display: flex;
      gap: clamp(25px, 5vw, 49px);
      align-items: center;

      @media screen and (max-width: 632px) {
        flex-direction: column;
        text-align: center;
      }

      .sofa-1 {
        .picture {
          width: 280px;
          height: 177px;
          background-color: #f9f1e7;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 10px;
        }

        .desc {
          .title {
            font-family: "Poppins", sans-serif;
            font-size: 24px;
            font-weight: 500;
            margin: 0;
            padding: 0;
            margin-top: 18px;
          }

          .price {
            font-family: "Poppins", sans-serif;
            font-size: 18px;
            font-weight: 500;
            margin: 0;
            padding: 0;
          }

          .rating {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-top: 10px;

            @media screen and (max-width: 632px) {
              justify-content: center;
            }

            .number {
              font-family: "Poppins", sans-serif;
              font-size: 18px;
              font-weight: 500;
            }

            .review {
              margin: 0;
              padding: 0;
              display: flex;
              align-items: center;
              font-family: "Poppins", sans-serif;
              font-size: 13px;
              font-weight: 400;
              color: #9f9f9f;
            }
          }
        }
      }
      .sofa-2 {
        .picture {
          width: 280px;
          height: 177px;
          background-color: #f9f1e7;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 10px;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }

        .desc {
          .title {
            font-family: "Poppins", sans-serif;
            font-size: 24px;
            font-weight: 500;
            margin: 0;
            padding: 0;
            margin-top: 18px;
          }

          .price {
            font-family: "Poppins", sans-serif;
            font-size: 18px;
            font-weight: 500;
            margin: 0;
            padding: 0;
          }

          .rating {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-top: 10px;

            @media screen and (max-width: 632px) {
              justify-content: center;
            }

            .number {
              font-family: "Poppins", sans-serif;
              font-size: 18px;
              font-weight: 500;
            }

            .review {
              margin: 0;
              padding: 0;
              display: flex;
              align-items: center;
              font-family: "Poppins", sans-serif;
              font-size: 13px;
              font-weight: 400;
              color: #9f9f9f;
            }
          }
        }
      }
    }

    .btn {
      .title {
        font-family: "Popins", sans-serif;
        font-weight: 600;
        font-size: 24px;
      }

      select {
        width: 242px;
        height: 39px;
        background-color: var(--gold);
        border: none;
        border-radius: 6px;
        font-family: "Popins", sans-serif;
        font-weight: 600;
        font-size: 14px;
        color: var(--white);
        padding: 0 18px;
      }
    }
  }

  .p-comparison__main-2 {
    margin-top: 42px;
    display: flex;
    flex-direction: column;
    gap: 96px;
    .general {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      row-gap: 60px;
      padding: 0 100px;

      h3 {
        grid-column: 1;
        grid-row: 1;
        margin: 0;
        font-family: "Poppins", sans-serif;
        font-size: 28px;
        font-weight: 500;
      }

      ul:nth-of-type(1) {
        grid-column: 1;
        grid-row: 2;
      }

      ul:nth-of-type(2) {
        grid-column: 2;
        grid-row: 2;
      }

      ul:nth-of-type(3) {
        grid-column: 3;
        grid-row: 2;
      }

      @media screen and (max-width: 890px) {
        grid-template-columns: repeat(2, 1fr);
        text-align: center;

        h3 {
          grid-column: 1 / 3;
        }

        ul:nth-of-type(1) {
          grid-column: 1;
          grid-row: 2;
        }

        ul:nth-of-type(2) {
          grid-column: 2;
          grid-row: 2;
        }

        ul:nth-of-type(3) {
          grid-column: 1;
          grid-row: 3;
        }

        ul {
          text-align: center;
          width: 100%;
        }
      }

      @media screen and (max-width: 695px) {
        grid-template-columns: 1fr;
        text-align: center;

        h3 {
          grid-column: 1;
          grid-row: 1;
        }

        ul:nth-of-type(1) {
          grid-column: 1;
          grid-row: 2;
        }

        ul:nth-of-type(2) {
          grid-column: 1;
          grid-row: 3;
        }

        ul:nth-of-type(3) {
          grid-column: 1;
          grid-row: 4;
        }

        ul {
          text-align: center;
          width: 100%;
        }
      }

      ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 34px;
        padding: 0;
        margin: 0;

        li {
          font-family: "Poppins", sans-serif;
          font-size: 16px;
          color: black;
        }
      }
    }

    .product {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      row-gap: 60px;
      padding: 0 100px;

      h3 {
        grid-column: 1;
        grid-row: 1;
        margin: 0;
        font-family: "Poppins", sans-serif;
        font-size: 28px;
        font-weight: 500;
      }

      ul:nth-of-type(1) {
        grid-column: 1;
        grid-row: 2;
      }

      ul:nth-of-type(2) {
        grid-column: 2;
        grid-row: 2;
      }

      ul:nth-of-type(3) {
        grid-column: 3;
        grid-row: 2;
      }

      @media screen and (max-width: 890px) {
        grid-template-columns: repeat(2, 1fr);
        text-align: center;

        h3 {
          grid-column: 1 / 3;
        }

        ul:nth-of-type(1) {
          grid-column: 1;
          grid-row: 2;
        }

        ul:nth-of-type(2) {
          grid-column: 2;
          grid-row: 2;
        }

        ul:nth-of-type(3) {
          grid-column: 1;
          grid-row: 3;
        }

        ul {
          text-align: center;
          width: 100%;
        }

        li {
          width: 100%;
        }
      }

      @media screen and (max-width: 695px) {
        grid-template-columns: 1fr;
        text-align: center;

        h3 {
          grid-column: 1;
          grid-row: 1;
        }

        ul:nth-of-type(1) {
          grid-column: 1;
          grid-row: 2;
        }

        ul:nth-of-type(2) {
          grid-column: 1;
          grid-row: 3;
        }

        ul:nth-of-type(3) {
          grid-column: 1;
          grid-row: 4;
        }

        ul {
          text-align: center;
          width: 100%;
        }
      }

      ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 34px;
        padding: 0;
        margin: 0;

        li {
          font-family: "Poppins", sans-serif;
          font-size: 16px;
          color: black;
        }
      }
    }

    .warranty {
      display: flex;
      flex-direction: column;
      gap: 60px;
      padding: 0 100px;

      h3 {
        margin: 0;
        font-family: "Poppins", sans-serif;
        font-size: 28px;
        font-weight: 500;
        margin-bottom: 10px;

        @media screen and (max-width: 768px) {
          text-align: center;
        }
      }

      .row {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 70px;

        p {
          margin: 0;
          font-family: "Poppins", sans-serif;
          font-size: 16px;
          color: black;
          line-height: 1.6;
          max-width: 241px;

          @media screen and (max-width: 768px) {
            text-align: center;
            max-width: 100%;
            width: 100%;
          }
        }

        @media screen and (max-width: 1024px) {
          column-gap: 30px;
          text-align: center;
        }

        @media screen and (max-width: 768px) {
          grid-template-columns: 1fr;
          gap: 10px;

          p:first-child {
            font-weight: 600;
            color: #555;
          }
        }
      }

      .add-to-cart-btn {
        width: 215px;
        height: 64px;
        color: white;
        background-color: var(--gold);
        border: none;
        border-radius: 5px;
        font-family: "Poppins", sans-serif;
        font-size: 20px;
        font-weight: 500;
        cursor: pointer;

        a {
          text-decoration: none;
          color: var(--white);
        }

        @media screen and (max-width: 768px) {
          width: 100%;
        }
      }

      @media screen and (max-width: 1024px) {
        padding: 0 40px;
      }

      @media screen and (max-width: 768px) {
        padding: 0 20px;
        gap: 30px;
      }
    }
  }
}

footer {
  overflow: hidden;
  .p-comparison__footer-section-1 {
    background-color: #faf3ea;
    margin-top: 83px;
    min-height: 270px;
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    .footer-items {
      display: flex;
      gap: 65px;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      .item {
        display: flex;
        align-items: center;
        gap: 13px;

        h3 {
          font-family: "Popins", sans-serif;
          font-weight: 600;
          font-size: 25px;
          margin: 0;
        }

        p {
          margin: 0;
          padding-top: 7px;
          font-family: "Popins", sans-serif;
          font-weight: 500;
          font-size: 20px;
          color: #898989;
        }
      }
    }
  }

  .p-comparison__footer-section-2 {
    display: flex;
    flex-wrap: wrap;
    padding: 48px 8vw 30px 8vw;
    justify-content: space-between;
    gap: 40px;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      padding: 40px 20px;
      gap: 40px;
    }

    .p-comparison__footer_left-section {
      max-width: 300px;

      h2 {
        font-family: "Popins", sans-serif;
        font-weight: 800;
        font-size: 24px;
        margin-bottom: 30px;
        cursor: pointer;
      }

      p {
        font-family: "Popins", sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: #9f9f9f;
        line-height: 1.5;
      }
    }

    .p-comparison__footer_right-section {
      display: flex;
      flex-wrap: wrap;
      gap: clamp(40px, 5vw, 100px);

      @media screen and (max-width: 768px) {
        flex-direction: column;
      }

      .links,
      .Help {
        display: flex;
        flex-direction: column;

        p {
          color: #9f9f9f;
          font-family: "Popins", sans-serif;
          font-weight: 500;
          font-size: 16px;
          margin-bottom: 30px;
          margin-top: 0;
        }

        ul {
          display: flex;
          flex-direction: column;
          padding: 0;
          margin: 0;
          gap: 30px;
          list-style: none;

          li {
            a {
              text-decoration: none;
              color: black;
              font-family: "Popins", sans-serif;
              font-weight: 500;
              font-size: 16px;
            }
          }
        }
      }

      .Newsletter {
        font-family: "Popins", sans-serif;
        font-weight: 500;
        font-size: 16px;

        p {
          color: #9f9f9f;
          margin-bottom: 30px;
          margin-top: 0;
        }
        .newsletter-form {
          display: flex;
          align-items: center;
        }
        .text {
          position: absolute;
          width: 1px;
          height: 1px;
          padding: 0;
          margin: -1px;
          overflow: hidden;
          clip: rect(0, 0, 0, 0);
          border: 0;
        }
        input {
          border: none;
          border-bottom: 1px solid black;
          outline: none;
          padding-bottom: 5px;
          margin-right: 15px;
          font-family: "Popins", sans-serif;
          font-size: 14px;
        }
        button {
          background: none;
          border: none;
          padding: 0;
          color: black;
          text-decoration: underline;
          cursor: pointer;
          font-weight: 600;
          font-family: "Popins", sans-serif;
          font-size: 16px;
        }

        @media screen and (max-width: 480px) {
          .newsletter-form {
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
          }
          input {
            width: 100%;
            margin-right: 0;
          }
        }
      }
    }

    .rights {
      width: 100%;
      margin-top: 30px;

      hr {
        border: none;
        border-top: 1px solid #d9d9d9;
      }

      p {
        margin-top: 35px;
        font-family: "Popins", sans-serif;
        font-weight: 400;
        font-size: 16px;

        @media screen and (max-width: 768px) {
          text-align: center;
        }
      }
    }
  }
}
