@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url(normalize.css);

:root {
  --white: #ffffff;
  --gold: #b88e2f;
  --header-container-color: #fff3e3;
  --main-container-color: #fcf8f3;
  --product-background-color: #f4f5f7;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
}

.shop-header {
  min-height: 316px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .header-section-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
      filter: blur(6px);
      opacity: 0.6;
    }

    .shop {
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 1;

      p:first-child {
        font-family: "Poppins", sans-serif;
        font-size: 48px;
        font-weight: 500;
        margin: 0;
        color: black;

        @media screen and (max-width: 600px) {
          font-size: 36px;
        }
      }

      p:last-child {
        font-family: "Poppins", sans-serif;
        font-size: 16px;
        font-weight: 500;
        margin-top: 5px;
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }
  }
}

.header-section-2 {
  background-color: var(--header-container-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  min-height: 100px;
  flex-wrap: wrap;
  gap: 20px;
  overflow: hidden;

  @media screen and (max-width: 1130px) {
    padding: 20px 50px;
  }

  @media screen and (max-width: 1000px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .left-section {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    font-family: "Popins", sans-serif;
    font-weight: 400;
    font-size: 16px;

    svg {
      cursor: pointer;
    }

    p {
      padding: 0;
      margin: 0;
      font-family: "Popins", sans-serif;
      font-weight: 400;
      font-size: 20px;
      cursor: pointer;

      @media screen and (max-width: 1000px) {
        font-size: 16px;
        font-weight: 300;
      }

      @media screen and (max-width: 830px) {
        display: inline-block;
      }
    }
  }

  .right-section {
    display: flex;
    gap: 29px;
    align-items: center;
    padding-right: 0;
    flex-wrap: wrap;
    justify-content: center;

    .right-input {
      display: flex;
      gap: 17px;

      p {
        display: flex;
        padding: 0;
        margin: 0;
        font-family: "Popins", sans-serif;
        font-weight: 400;
        font-size: 20px;
        align-items: center;

        @media screen and (max-width: 1000px) {
          font-size: 16px;
          font-weight: 300;
        }
      }

      button {
        border: none;
        width: 188px;
        height: 55px;
        color: #9f9f9f;
        background-color: white;
        display: flex;
        align-items: flex-start;
        font-family: "Popins", sans-serif;
        font-weight: 400;
        font-size: 20px;
        padding-top: 13px;
        padding-left: 30px;
        cursor: pointer;

        @media screen and (max-width: 926px) {
          width: 100%;
        }
      }
    }

    .left-input {
      display: flex;
      gap: 17px;

      p {
        display: flex;
        padding: 0;
        margin: 0;
        font-family: "Popins", sans-serif;
        font-weight: 400;
        font-size: 20px;
        align-items: center;

        @media screen and (max-width: 1000px) {
          font-size: 16px;
          font-weight: 300;
        }
      }

      button {
        border: none;
        width: 55px;
        height: 55px;
        color: #9f9f9f;
        background-color: white;
        font-family: "Popins", sans-serif;
        font-weight: 400;
        font-size: 20px;
        cursor: pointer;
      }
    }
  }
}

.shop-main {
  overflow: hidden;
  h1 {
    text-align: center;
    margin-top: 56px;
    font-family: "Popins", sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.2;
  }

  .products {
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;

    @media screen and (max-width: 1126px) {
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }

    @media screen and (max-width: 800px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }

    @media screen and (max-width: 535px) {
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
    }

    h3 {
      margin: 0;
      padding-top: 16px;
      padding-left: 16px;
      font-family: "Popins", sans-serif;
      font-weight: 600;
      font-size: 24px;
      line-height: 1.2;
    }

    .product-1,
    .product-2,
    .product-3,
    .product-4,
    .product-6,
    .product-7,
    .product-8 {
      position: relative;
      cursor: pointer;
    }

    .product-4,
    .product-6,
    .product-8 {
      .discount {
        background-color: #2ec1ac;
      }
    }

    .discount {
      position: absolute;
      top: 24px;
      right: 25px;
      width: 48px;
      height: 48px;
      border-radius: 50%;
      background-color: #e97171;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
    }

    .overlay {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(58, 58, 58, 0.72);

      div {
        display: flex;
        align-items: center;
        gap: 11px;
        margin-top: 24px;

        svg {
          fill: #ffffff;
          cursor: pointer;
        }

        span {
          color: #ffffff;
          font-family: "Popins", sans-serif;
          font-weight: 600;
          font-size: 16px;
          cursor: pointer;
        }
      }

      button {
        display: flex;
        width: 202px;
        height: 48px;
        justify-content: center;
        align-items: center;
        color: var(--gold);
        background-color: var(--white);
        font-family: "Popins", sans-serif;
        font-weight: 600;
        font-size: 16px;
      }
    }

    p {
      padding-top: 16px;
      padding-left: 16px;
      margin: 0;
      font-family: "Popins", sans-serif;
      font-weight: 500;
      font-size: 16px;
      color: #898989;

      @media screen and (max-width: 1126px) {
        font-size: 13px;
      }
    }

    del {
      font-size: 16px;
      color: #b0b0b0;
      font-weight: 400;
      margin-left: 15px;

      @media screen and (max-width: 1126px) {
        font-size: 13px;
      }
    }

    .price {
      margin: 0;
      padding-top: 8px;
      color: black;
      font-family: "Popins", sans-serif;
      font-weight: 600;
      font-size: 20px;

      @media screen and (max-width: 1126px) {
        font-size: 15px;
      }
    }

    .product-price {
      background-color: var(--product-background-color);
      height: 145px;
    }

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  .main-btns {
    display: flex;
    gap: 38px;
    justify-content: center;
    margin-top: 70px;
    flex-wrap: wrap;

    .btn-main-1 {
      button {
        width: 60px;
        height: 60px;
        background-color: var(--gold);
        border: none;
        border-radius: 10px;
        color: var(--white);
        font-family: "Popins", sans-serif;
        font-weight: 400;
        font-size: 20px;
        cursor: pointer;
      }
    }

    .btn-main {
      button {
        width: 60px;
        height: 60px;
        border: none;
        border-radius: 10px;
        background-color: #f9f1e7;
        font-family: "Popins", sans-serif;
        font-weight: 400;
        font-size: 20px;
        cursor: pointer;
      }
    }

    .btn-next {
      button {
        width: 98px;
        height: 60px;
        border: none;
        border-radius: 10px;
        background-color: #f9f1e7;
        font-family: "Popins", sans-serif;
        font-weight: 400;
        font-size: 20px;
        cursor: pointer;
      }
    }
  }
}

.shop-footer {
  overflow: hidden;
  .shop-footer-section-1 {
    background-color: #faf3ea;
    margin-top: 83px;
    min-height: 270px;
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    .footer-items {
      display: flex;
      gap: 65px;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      .item {
        display: flex;
        align-items: center;
        gap: 13px;

        h3 {
          font-family: "Popins", sans-serif;
          font-weight: 600;
          font-size: 25px;
          margin: 0;
        }

        p {
          margin: 0;
          padding-top: 7px;
          font-family: "Popins", sans-serif;
          font-weight: 500;
          font-size: 20px;
          color: #898989;
        }
      }
    }
  }

  .shop-footer-section-2 {
    display: flex;
    flex-wrap: wrap;
    padding: 48px 100px 30px 100px;
    justify-content: space-between;
    gap: 40px;

    @media screen and (max-width: 1024px) {
      padding: 40px 30px;
    }

    @media screen and (max-width: 768px) {
      flex-direction: column;
      padding: 40px 20px;
      gap: 40px;
    }

    .left-section {
      max-width: 300px;

      h2 {
        font-family: "Popins", sans-serif;
        font-weight: 800;
        font-size: 24px;
        margin-bottom: 30px;
        cursor: pointer;
      }

      p {
        font-family: "Popins", sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: #9f9f9f;
        line-height: 1.5;
      }
    }

    .right-section {
      display: flex;
      flex-wrap: wrap;
      gap: 100px;

      @media screen and (max-width: 1024px) {
        gap: 50px;
      }

      @media screen and (max-width: 768px) {
        flex-direction: column;
        gap: 40px;
      }

      .links,
      .Help {
        display: flex;
        flex-direction: column;

        p {
          color: #9f9f9f;
          font-family: "Popins", sans-serif;
          font-weight: 500;
          font-size: 16px;
          margin-bottom: 30px;
          margin-top: 0;
        }

        ul {
          display: flex;
          flex-direction: column;
          padding: 0;
          margin: 0;
          gap: 30px;
          list-style: none;

          li {
            a {
              text-decoration: none;
              color: black;
              font-family: "Popins", sans-serif;
              font-weight: 500;
              font-size: 16px;
            }
          }
        }
      }

      .Newsletter {
        font-family: "Popins", sans-serif;
        font-weight: 500;
        font-size: 16px;

        p {
          color: #9f9f9f;
          margin-bottom: 30px;
          margin-top: 0;
        }

        input {
          border: none;
          border-bottom: 1px solid black;
          outline: none;
          padding-bottom: 5px;
          margin-right: 15px;
          font-family: "Popins", sans-serif;
          font-size: 14px;
        }

        span {
          color: black;
          text-decoration: underline;
          cursor: pointer;
          font-weight: 600;
        }

        @media screen and (max-width: 480px) {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 20px;

          input {
            width: 100%;
            margin-right: 0;
          }
        }
      }
    }

    .rights {
      width: 100%;
      margin-top: 30px;

      hr {
        border: none;
        border-top: 1px solid #d9d9d9;
      }

      p {
        margin-top: 35px;
        font-family: "Popins", sans-serif;
        font-weight: 400;
        font-size: 16px;

        @media screen and (max-width: 768px) {
          text-align: center;
        }
      }
    }
  }
}
